
/*----Images----*/
img{
	background-color : white;
	position: relative;
	border: none;
	max-witdh: 100%;
	height: auto;

}

/*----Html & body----*/

body{

	margin-top : -1px;
	padding: 0px;
}

h1{
	color: #FFFFFF;
	position : relative;
	text-align: center;
	font-size: 4vw;

  }


/**----div----*/
div#contains{

	display: block;
	margin : 0 auto 0 auto;
	position : relative;
	min-width : 304px;
	max-width : 608px;

}


/*----References----*/
a{

	font-family : 'Arial';
	font-size : 100%;
	color : #1AF;
	margin-left: 0px;
	text-decoration:none;

 }

a:hover{
	color: #F00;
	text-decoration:underline;
}



body, div{background-color: #101010;}
