
/*----Images----*/
img{
	
	background-color : white;
	position: relative;
	border: none;
	max-witdh: 300px;
	max-height: 150px;
}

/*----Html & body----*/

body{

	/*margin-top : -1px;
	padding: 0px;*/
}

h1{

	color: #FFFFFF;
	position : relative;
	text-align: center;
	font-size: 3vw;
}

p{

	font-family : 'Arial';
	font-size : 1vw;
	text-align: center;
}

/**----div----*/
.contains{

	margin : 0 auto 0 auto;
	position : relative;
	max-width : 780px;
}


/*----References----*/
a{
	color : #1AF;
	margin-left: 0px;
	text-decoration:none;
}

a:hover{

	color: #F00;
	text-decoration:underline;
}



body, div{

	background-color: #101010;
}
