
/*----Images----*/
img{
	
	background-color : white;
	position: relative;
	border: none;
	/*max-witdh: 300px;
	max-height: 150px;*/
	/*width: 100%;*/
}

/*----Html & body----*/

body{

	margin: 0 auto 0 auto;
	position : relative;
	width : 60%;
}

h1{

	color: #FFFFFF;
	position : relative;
	text-align: center;
	font-size: 3vw;
}

p{

	font-family : 'Arial';
	font-size : 2vw;
	text-align: center;
}

/**----div----*/
div{

	margin : 0 auto 0 auto;
	position : relative;
	width : 100%;
}


@media (max-width: 1023px) {

	img{
		width: 100%;
	}
}

@media (min-width: 1024px) {

	body{
		
		/*width : 100%;*/
	}
}

/*----References----*/
a{
	color : #1AF;
	margin-left: 0px;
	text-decoration:none;
	text-align: center;
}

a:hover{

	color: #F00;
	text-decoration:underline;
}



body, div{

	background-color: #101010;
}
