
/*Font*/
@font-face{

	font-family:'Japonesa';
	src: url('../portfolio/font/Japonesa.ttf') format('truetype'),
		url('../portfolio/font/Japonesa.eot') format('eot'),
		url('../portfolio/font/Japonesa.woff') format('woff'),
		url('../portfolio/font/Japonesa.svg') format('svg');
}


/*----Images----*/
img{

	background-color : white;
	position: relative;
	max-width: 100%;
	border: none;
}

.left{

	float : left;
}

.right{

	float : right;
}

img#head{

	margin-left: 1px;
	margin-bottom: 32px;
}

img#side{

	margin-right : 24px;

}

/*----Html & body----*/

h1,h2, h3, h4{ 

	font-family:'Japonesa';
}

body{

	background-color: #111111;
	margin: 0 auto 0 auto;
	position : relative;	
	width : 60%;
}


h1{
	
	position : relative;
	text-align: center;
	font-size: 3vw;
}


/*----navigation----*/

nav{
	
	float: left;
	position : relative;
	width: 35%;
}


.menu_nav{

	list-style: none;
	padding: 0;
	width: 90%;

}

.menu{

	background: #FFFFFF;
	border: 8px solid #000086;
	width: 100%;
	height: 32px;
	margin-bottom: 8px;
	padding-top: 6px;
}

.main{

	width : 65%;
	float: right;
}

.link, .menu{

	font-size: 100%;
}



@media (max-width: 1300px) {

	nav, .main {
		
		float: none;
	}
	
	nav{

		width: 94%;
	}
	
	.main {
	
		width: 100%;
	}
}




/*--hover--*/
li:hover{

 	background:#11AAFF;
}


/**----div----*/
.contains{

	display: block;
	margin : auto auto 0 auto;
	position : relative;
	width: 100%;
}


/*----References----*/
a{

	font-family : 'Arial';
	font-size : 100%;
	color : #1AF;
	margin-left: 0px;
	text-decoration:none;
}



.onglet{

	font-family:'Japonesa';
	font-size: 175%;
	color: #000000;
	margin-left: 16px;
	text-decoration:none;

}

a:hover{

	color: #F00;
	text-decoration:underline;
}


/*----paragraph----*/

p{

	font-family:'Arial';
	font-size: 100%;
	text-decoration:none;
}


p:first-letter{

	padding-left: 20px;
}

/*----frame----*/
iframe{

	border:0;
}

video, iframe{

	width: 640px;
	height: 360px;
}


/*----footer----*/

footer{

	border-bottom: 4px solid;
}


.contains, .foot{

	width : 100%;
}

/*----group----*/
h1,h2,h3,h4,p,.foot,iframe,script{

	color: #FFFFFF
}

div,footer{

	background-color:#000000;
}
